doctype html
html  
  head
    title="Babel/Webpack/React starter pack"
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='shortcut icon', type='image/png' href='/static/img/favicon.ico')
    link(rel='stylesheet' href=baseCssUrl + '/app.css')

  body
    #app!= content
    script(src=baseJsUrl + '/app.js', defer)
